DB_USER=admin
DB_PASSWORD=admin1234
DB_HOST=localhost
DB_PORT=5438
DB_NAME=dba_final
DB_SSLMODE=prefer

MONGO_URI=mongodb://admin:admin1234@localhost:27018/dba_final_logs?authSource=admin
MONGO_DB=dba_final_logs
MONGO_USER=admin
MONGO_PASSWORD=admin1234
